*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 16px;
  @import 'header';
  .advertisement {
  }
  .journey {
  }
  .experience {
  }
  .ask {
  }
  footer {
  }
}
